[2017-06-07 11:21] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-06-08 08:53] #1 closed

[2017-06-15 19:26] ellipticaldoor opened #4 "Can I also convert json to xml?"
Can I also convert json to xml?

[2017-06-15 23:14] tuananh commented on #4
@ellipticaldoor Sorry but it's out of scope for this project. I found that problem is already handle very well by project like [xmlbuilder](https://www.npmjs.com/package/xmlbuilder)

[2017-06-16 03:18] #4 closed

[2017-06-16 18:07] simonwjackson opened #5 "How are XML attributes stored in the json object?"
I didn't see an example in the docs.
Do you use the '$' property like the other `xml-> json` libraries?

[2017-06-16 23:52] tuananh commented on #5
You can use `@` as specify in XPath documentation to get the attribute. camaro do not parse all automatically but only what in the template that you pass to camaro

const transform = require('camaro')

[code]

Will give you

[code]

[2017-06-18 09:03] #5 closed

[2017-06-18 19:26] freshyill opened #6 "Issue with whitespace"
I'm having an issue with whitespace and I'm wondering if Camaro is handling it as-designed, or if I should look to another package to help with this.

Given this chunk of XML (truncated, but you get the idea)

[code]

Using this to construct my template…

[code]

I get this result…

[code]

I do want to take the entire text of the body as just text, without any tags. Should I expect to see a space

[2017-06-19 01:44] tuananh commented on #6
Since the html data in your example looks like valid xml, it get parsed as well. So when you query `article/body`, instead of getting a node with string content inside, you get a node with child node inside. get string value of that node will strip down all the tags inside it.

The proper way of putting data like this in XML is wrapping it inside CDATA like this

[code]

[2017-06-20 03:51] freshyill commented on #6
The XML I'm working with is as proper as it's going to get. This example uses [JATS](https://en.wikipedia.org/wiki/Journal_Article_Tag_Suite), which is a highly structured and quite strict DTD used in scholarly publishing.

It's possible my example wasn't entirely clear. I *do* want to strip all tags. In this case, I'm only interested in the text.

[code]

I've marked where removed tags resulted i

[2017-06-20 04:34] tuananh commented on #6
I see. You only want to place space char in place of those remove tags. For now, it's not possible because I don't check whether  the path is a leaf node or contain child nodes inside.

[2017-06-20 15:55] freshyill commented on #6
OK, thank you for considering!

[2017-07-10 19:08] ianbale opened #8 "Problem running under docker?"
Hi,

I have a small app which is using camaro. All works fine locally (OSX -  i5 CPU). I recently tried out docker and have moved it into a docker file. I had to remove and reinstall camaro for it to run, but having done that it works perfectly.

Now I've moved my docker image onto a Centos 7 VM (Xeon CPU). Now I'm getting "Illegal instruction (core dumped)" when the app attempts to decode some XM

[2017-07-10 23:52] tuananh commented on #8
i had issue with the official node alpine image as well. I haven't figured out what's wrong with that yet. I remote login to the docker and recompile and it works again. Is this same as yours?

My current work around is using it with `bitnami/node` Docker image. Maybe give it a try?

[2017-07-11 00:01] tuananh commented on #8
Update: Just found out one of my apps use camaro with `node:boron` image as well. Nothing special about that Dockerfile. 😕

[2017-07-11 01:51] tuananh commented on #8
Can you check gcc version? camaro requires gcc 4.9 or newer.

[2017-07-11 10:10] tuananh commented on #8
@ianbale weird indeed. we have test system using `FROM bitnami/node:8.1.3-r0` and another one using `node:boron`. those images work fine.

[2017-07-11 11:48] tuananh commented on #8
btw, can you post your dockerfile here?

[2017-07-11 12:37] ianbale commented on #8
As I mentioned, the official node image works just fine when it's on my iMac. It just doesn't run on my VM server in the Centos VM. I just tried creating a Debian 9 VM instead. Not sure what I've done wrong, but I just get a black screen in boot! Most annoying... Will retry later and let you know how I get on.

[2017-07-11 18:33] ianbale commented on #8
I've given it a try on Debian 9. I just tried it installing node into the host, rather than try docker. I get the exact same error: illegal instruction when node tries to use camaro.

This VM has gcc version 6.3.0

Do you think the problem is stemming from the CPU of the system this VM is running on? I'm using XenServer on a machine with two Xeon 5520 (quad core) CPUs.

You mentioned something abo

[2017-07-11 19:52] ianbale commented on #8
As a small aside, I'm tying to use the XPath replace command (type : 'replace(@type, "([^.]+)$", "$1")',) but it doesn't seem to work. No matter what I put in the replace, the output is always an empty string. Even something as simple as replace('bob','b','*') which out to result in *o*. Any idea why that might not be working?

On that note... Is this something you are actively developing? Ot just

[2017-07-11 23:37] tuananh commented on #8
You will have to do that at run time rather than in Dockerfile because otherwise, Docker will do that when building image.

Where did you find this command? I couldn't find it here https://developer.mozilla.org/en-US/docs/Web/XPath/Functions

pugixml which camaro depends on, implements xpath 1.0 (latest is 2 i think) so there might be some limitations which functions are available.

It's just some

[2017-07-12 00:23] ianbale commented on #8
Ah! Yes, replace is an xpath 2.0 function. That explains why that is not working...

Right now I'm not so bothered about docker. My main goal is to get it to work with node running natively under a VM on my production server. At the moment, I'm just getting the illegal instruction.

I believe that this is due to pugixml rather than camaro. I don't understand how you've bundled pugixml into camaro,

[2017-07-12 01:48] tuananh commented on #8
[code]

For this, i would just use sth like `omit-empty` ; or lodash if you already have it.

[code]

But I might as well make it an option for camaro

[2017-07-12 07:37] ianbale commented on #8
Thanks I'll take a look at that.

I've managed to recompile pugi but I'm still getting the same illegal instruction!
My last hope I guess is to recompile the camaro code, but I can't see how to do that...?

Other than that I guess I need to look for another parser which will work on my target system. Very frustrating as outright speed is vital for this project...

[2017-07-12 07:46] tuananh commented on #8
I use travis and appveyor to pre build binaries for all platforms. so that users doesn't have to compile on their machine but pulling the prebuilt binaries directly from github releases.

[code]

The above command will ignore it and always build from source instead.

Again, if you could post your Dockerfile or send me via email (me@tuananh.org); I can try debugging with you.

[2017-07-12 08:04] ianbale commented on #8
Yay! It's working!!

I'm not sure that sending you the dockerfile will help. I'm 99.99% certain it's got nothing to do with that. I'm pretty certain that it's just a platform issue. The pre-built binaries were not suitable for this instance.

What I can do, if you'd like to have a play and work out why so you can update your release is duplicate my VM and give you access to that.

[2017-07-12 13:38] tuananh commented on #8
Glad you found a workaround for that. btw, is this with latest version (1.1.6)?

[2017-07-12 19:26] ianbale commented on #8
I had 1.1.3

Didn't realise there was a newer version. I'll give that a whirl too.

I described this problem to a friend who has a lot of experience of docker. He's very intrigued. ants to take a look at the problem too

[2017-07-25 19:57] valentinvieriu opened #10 "Is it possible to extract something as key?"
For example I would like to extract `@name` as key to the image url
[code]

[2017-07-26 02:02] tuananh commented on #10
can you elaborate a bit more? what's the input and expected output?

[2017-07-26 02:55] valentinvieriu commented on #10
Sorry, let me explain. Let's assume we have this structure:
[code]

and I would like to get:

[code]

but of course not hardcoded, extracting the `@name` dynamically. Does it make sense?

[2017-07-26 02:57] valentinvieriu commented on #8
Here is a `Dockerfile` setup that works very well and it's very lightweight:

[code]

[2017-07-26 03:38] tuananh commented on #10
ah, it's not possible right now with camaro. workaround is you can extract the `@name` and manipulate the result later.

[code]

[2017-07-26 03:43] valentinvieriu commented on #10
yep.that's what i'm doing now. Thank you

[2017-07-26 03:43] #10 closed

[2017-08-26 03:11] #8 closed

[2017-08-31 21:31] BenediktKrueger opened #12 "Problem running on IBM Bluemix node.js application"
I am trying to install the package on Bluemix node.js application without success. See error message below:
![image](https://user-images.githubusercontent.com/15983365/29946101-4d1a6fee-8ea4-11e7-928f-fdb64ef44121.png)

[2017-08-31 23:54] tuananh commented on #12
looks like the server is missing `libstdc++6`. i'm not familiar with Bluemix but looks like you cannot install any additional library on it right?

[2017-09-10 00:31] #12 closed

[2017-10-05 12:27] tuananh opened #15 "select all // should only select all nodes from current context"
example

[code]

the select all selector of `innerArr` should only select all `inner` nodes inside the current node of the `outer` nodes only.

currently, it will return all `inner` nodes of the document.

[2017-10-06 04:10] #15 closed

[2017-10-06 06:46] tuananh commented on #15
my bad. it's not an issue; should have use `.//` instead

[2017-10-11 11:24] axelpale opened #16 "How to define namespaces?"
If my XML document contains identical local tag names but in different namespaces, how to tell camaro to select only the other? For example consider the following:

    <?xml version="1.0" encoding="UTF-8"?>
    <bookings>
      <restaurant xmlns="http://mycustom/namespace">
        <table>
          <reserved>1</reserved>
        </table>
      </restaurant>
      <restaurant xmlns="http://offici

[2017-10-12 02:05] tuananh commented on #16
@axelpale it seems to be a limitation of pugixml, a library which camaro is built on. lemme check with the author of pugixml to see if there's workaround for this.

[2017-10-12 07:02] tuananh commented on #16
@axelpale you can try this

[code]

[2017-10-12 09:06] axelpale commented on #16
@tuananh Oh, thanks! It was possible after all. I think this issue can now be closed. Would you accept a pull request where I have extended README.md to document this feature?

[2017-10-12 12:10] tuananh commented on #16
Sure. PRs are welcome.
On Thu, Oct 12, 2017 at 16:06 Akseli Palén <notifications@github.com> wrote:

[2017-10-12 13:30] #16 closed

[2017-10-25 18:17] veeaarr opened #18 "Issue in Loading camaro on AWS Lambda"
I am trying to load Camaro module on my app, it works fine locally (Node v8). But when deploying on AWS Lambda (Node v6.10 runtime) it breaks. Is this library limited to later version of Node. If yes, can you please share how to build this for a lower Node version.

Thanks.

[2017-10-26 00:05] tuananh commented on #18
did you copy the `node_modules` from your local machine and upload to lambda?

you will have to use a compiled version of camaro that built on linux with node 6 (since lambda only supports up to node 6 right).

Please find it in [Releases](https://github.com/tuananh/camaro/releases)

[2017-10-26 19:11] veeaarr commented on #18
Thanks for your reply. I included the compiled camaro.node  into the node_modules folder. It loads alright. But when invoking the method, it says - 'transform is not a function'. The same used to work when importing the source directly.

![image](https://user-images.githubusercontent.com/10072032/32072219-831bd204-baaf-11e7-986d-fe5a2e900d10.png)

[2017-10-26 22:53] tuananh commented on #18
did you put it in `camaro/lib/binding/camaro.node` ?

[2017-10-26 23:25] tuananh commented on #18
alternatively, you can spun up an instance similar to what they used in aws lambda and install camaro there. copy the module folder back :D

[2017-10-27 08:10] veeaarr commented on #18
Moved the compiled binary to camaro/lib/binding/camaro.node and it worked like a charm. Thanks again.

[2017-10-27 08:10] #18 closed

[2017-10-27 10:16] tuananh commented on #18
Glad it's working for you. I've update the readme to include this https://github.com/tuananh/camaro#using-camaro-on-aws-lambda

[2017-12-07 17:33] xtuc opened #21 "Browser compatibility?"
Ref https://github.com/Rich-Harris/packd/issues/33

Is your library meant to be distributed/used on the browser as well?

[2017-12-08 02:02] tuananh commented on #21
camaro will not work on browser right now because it's written in c++
I'm looking into possibly of this with web assembly

[2017-12-08 09:36] xtuc commented on #21
Ok thanks.

You can close this, I was asking for @AlanBreck.

[2017-12-08 10:03] #21 closed

[2017-12-19 15:39] ElviraCB opened #22 "Issue Camaro and Lambda AWS / Serverless"
Hello, I'm new to using camaro and Lambda function from AWS. When I want to deploy the lambda function with serverless I'm getting the following error in the cloudwatch:
`module initialization error: Error
at Error (native)
at Object.Module._extensions..node (module.js:597:18)
at Module.load (module.js:487:32)
at tryModuleLoad (module.js:446:12)
at Function.Module._load (module.js:438:3)
at Module

[2017-12-20 02:03] tuananh commented on #22
i'm not sure how serverless package your lambda function. does it use the build the zip file for you?
if so, does it use the correct camaro binary that required by lambda?

https://github.com/tuananh/camaro#using-camaro-on-aws-lambda

[2018-01-02 09:39] #22 closed

[2018-02-19 10:39] ccocker opened #26 "Use with Angular 5 Project"
Hi guys,

I am trying to get this working with an Angular 5 Project using Angular-Cli & Typescript.

Once i have added package with npm or yarn, when i try to use it in a component i am getting the following error:

**ERROR**
`src/app/shared/components/xml-reader/xml-reader.ts(5,19): error TS2304: Cannot find name 'require'.`

**CODE**
[code]

**REVISED CODE**
I also tried to revise the code to so

[2018-02-19 10:57] tuananh commented on #26
camaro is a native module (c++) so i don't think you can use it for frontend project (angular).

as for the above error, it's probably not related. i will take a look at it.

[2018-02-19 11:06] ccocker commented on #26
Ah - Thats a bummer. It was exactly what i was looking for.  Thanks for the quick reply

[2018-02-19 11:06] #26 closed

[2018-02-28 17:33] PhlppKnst opened #28 "Could it be it doesn't work on Wíndows?"
Hi,
I am already trying for hours to parse something on windows but the results are not consistent.
It always worked before when I am only extracting one value from an xml, but when I am trying more complex stuff things seem not to work so well,
[code]
I get

`{
    "nodes": []
}`

What am I doing wrong?

Windows 7
camaro 2.26
node 8.7.0

Best,
P

[2018-03-01 01:26] tuananh commented on #28
Very weird indeed. I don't have access to a Windows machine. All the tests for Windows are ran by AppVeyor.

Trying your code on [RunKit](https://npm.runkit.com/camaro) yields the correct result (they probably use linux)

![image](https://user-images.githubusercontent.com/627278/36822345-30404e74-1d2a-11e8-919a-664b027571bc.png)

[2018-03-01 01:28] tuananh commented on #28
Btw, is your Windows 64bit or 32bit? Does it use the prebuilt binary?

There will be sth like `installed from remote ...` when install if it's using prebuilt binary

[2018-03-01 09:17] PhlppKnst commented on #28
I hope this console print helps. I don't really have much knowledge about the npm, but for me it looks like that a prebuilt binary is used.
BTW I have 64bit Windows.

Best,
P
[code]

[2018-03-02 10:08] tuananh commented on #28
I added your script as a test case but all tests passed on AppVeyor (Windows)

https://github.com/tuananh/camaro/blob/feature/check-windows-compatible/test/window.test.js

![image](https://user-images.githubusercontent.com/627278/36893894-4ad1770a-1e3c-11e8-935b-090772525a80.png)

[2018-03-27 12:29] madhujsmg commented on #28
I have an windows 64 bit machine and installed  "camaro": "2.1.0" ,same code will work on other OS, even in server also , but it's returning empty array [] from windows machine !!!!!!!

I wondered how it can happen only on windows machine !!!!!

 is that any special configuration required for windows ?

[2018-03-27 14:53] tuananh commented on #28
@madhujsmg can you create a PR with a failed test? I tried the above but the test passed on AppVeyor  (windows).

[2018-05-11 20:59] davidspiess commented on #28
Tried @PhlppKnst example above with the same empty result 😢

Win 10x64
Camaro 3.0.3
Node 8.9
MS BuildTools 2015

[2018-05-11 21:13] davidspiess commented on #28
Here some more insights:
`result` does actually return something, `JSON.stringify` made an empty array out of it.

[code]

[2018-05-12 01:51] tuananh commented on #28
@davidspiess many thanks. lemme try those.

[2018-05-12 02:04] tuananh commented on #28
so i tried running test directly with `tape`. still green :(

https://ci.appveyor.com/project/tuananh/camaro/build/1.0.364-feature/window-test-fails

[2018-05-12 08:32] tuananh commented on #28
@davidspiess thanks. i can make it fail now. lemme investigate more on this.

[2018-05-12 09:06] tuananh commented on #28
@davidspiess @PhlppKnst can you try the latest release 3.0.4 now?

[2018-05-12 09:52] davidspiess commented on #28
@tuananh awesome work! It works now 🎉🎉

[2018-05-12 09:59] tuananh commented on #28
@davidspiess great :)

@madhujsmg it's fixed in https://github.com/tuananh/camaro/commit/6aef2efe93d54399adc49446a388aa4fb2aeb714

I'm closing this now

[2018-05-12 09:59] #28 closed

[2018-08-08 22:44] ianbale opened #41 "camaro.transform is not a function"
I've been trying to upgrade camaro on an old app. It's currently using v1.2.0 and working fine. However, there are quite a lot of vulnerabilities reported by npm, so I'd like to update it.

I've already updated some related apps which run on AWS Lambda. I hit issues with v3.0.8 on Lambda, but 3.0.7 is working fine. So I am trying to use the same version for an app that will run on an AWS EC2 linux

[2018-08-08 23:38] tuananh commented on #41
can you post the code here?

[2018-08-09 06:57] ianbale commented on #41
Code is exactly the same as I was using with v1.2.0

It's a big app, but the relevant part is:

[code]

I've reverted back to v1.2.0 and it's working fine again.

Since I posted I've also tried installing 3.0.7 on the EC2 instance in case I got a different result to that on my local Mac. It was the same.

I'm wondering if there is some sort of clash with one of the other libraries I am using...? H

[2018-08-09 07:03] tuananh commented on #41
i tried your code on my Mac (node 8) and it's working fine :-s

[2018-08-09 07:48] ianbale commented on #41
Same code works fine in my Lambda functions...

Do you have any idea what might be causing that runtime error? (camaro.transform is not a function)

[2018-08-09 07:50] tuananh commented on #41
it's probably something wrong with the binary

https://github.com/tuananh/camaro/blob/develop/index.js#L34

[2018-08-09 08:36] ianbale commented on #41
Wrong binary?

I tried updating the binary : npm i camaro@3.0.7 --build-from-source --update-binary
which gives the above errors. Any idea why I can't build 3.0.7? It works just fine for v1.2.0, so it seems like my environment is setup properly for building...?

And tried downloading the pre-built binary : camaro-v3.0.7-node-v57-darwin-x64.tar.gz
That's the right one for node 8.2.1 on OSX isn't it

[2018-08-09 08:54] tuananh commented on #41
why do you need `--build-from-source` and `--update-binary` btw?

when i test on my machine, this is what i get

[code]

[2018-08-09 09:03] ianbale commented on #41
If I do (after removing the existing version)
`npm i camaro@3.0.7 `
I get this:

[code]

Then when I run the function I get camaro.transform is not a function.

[2018-08-09 09:04] ianbale commented on #41
I only need this when running on AWS EC2. I don't do that locally on my Mac.

[2018-08-09 09:05] tuananh commented on #41
hmm, you got a line different with mine

**npm WARN camaro@3.0.7 had bundled packages that do not match the required version(s). They have been replaced with non-bundled versions.**

i have no idea what that means though

[2018-08-09 09:11] ianbale commented on #41
My suspicion is that one of my dependencies has a different version to one that either camaro has, or one of its dependencies and the one that gets used is not compatible with camaro. Most likely, I have  newer version of something. Would be nice if it gave an actual list of what was updated rather than just a count...

I'll double check if there is anything in my list that I no longer need (possi

[2018-08-20 08:24] clocked0ne opened #43 "Camaro in v8.10.0 Lambda intermittent crashes"
Hi,

I have a Lambda executing Node v8.10.0 code which is processing XML responses in near realtime from an API (millions per day). It has been executing perfectly until this past week when the Lambda function has suddenly started intermittently crashing with `Process exited before completing request`. I doubt the Lambda function is running out of memory: Memory Size: 192 MB	Max Memory Used: 75 MB

[2018-08-20 08:48] tuananh commented on #43
Did you manage to catch the error? Can you post the error here?

[2018-08-20 09:00] tuananh commented on #43
i wrote a quick test script to run your xml string with the above script 1 million times but it doesn't crash on my local machine.

[2018-08-20 09:06] clocked0ne commented on #43
Thanks for looking at this so quickly. It doesn't crash for me locally either in my own test suite using the same data in a test fixture, the problem is definitely isolated to something around the Lambda environment :(

I will probably have to switch this out for another library in the interim since it is a production system; until I can get to the bottom of it.

[2018-08-20 09:11] clocked0ne commented on #43
I think the only additional thing I could ask you to look at here is if the errors are being swallowed in asimilar way to the post here:
https://github.com/nodejs/node/issues/2380

I don't know enough about how native-addons work to dig into that side of things.

[2018-08-20 09:49] clocked0ne commented on #43
I can give it a go, are there any fundamental differences between v2 and v3 that I should be aware of?

[2018-08-20 09:54] tuananh commented on #43
@clocked0ne iirc no major changes. v3 may add 1 or 2 xpath functions more but that's it. I just want to use N-API that's all :D N-API is no longer experimental in Node 10 which is going into LTS in October. Just wanna update a step ahead.

[2018-08-20 09:56] clocked0ne commented on #43
Great, I will build with v2 and see how I get on, hopefully it works fine aginast all my tests and then I just have to wait for Node 10 to go LTS and AWS to update Lambda support for it before trying v3 again.

[2018-08-20 12:04] tuananh commented on #43
Great. Lemme know if it works / not works for you.
On Mon, Aug 20, 2018 at 4:56 PM clocked0ne <notifications@github.com> wrote:

[2018-08-20 12:13] clocked0ne commented on #43
Just to keep you updated, I tried v2 and in fact it seemed to crash out even more frequently; though I noticed one single Lambda process was running successfully continuously. So, my suspicion is that its the environment not behaving well when multiple Lambdas are executed for the same function using the native-addon.

I've had to switch to using fast-xml-parser and now all the processes are runni

[2018-08-20 16:18] tuananh commented on #43
@clocked0ne ah too bad. I don't know how to debug it in Lambda either :(

I'm gonna leave this one issue open as it's unresolved so that others can see it.

[2018-08-22 15:24] gimyboya opened #44 "Conditional template"
How do I create a template for the following use case:

Assuming we have the following variations:

[code]
I want to be able to extract the content and obtain the variation of content as follows:
`content: ['some text']` or `content: { morning: 'morning text', evening: 'evening text'}`.

How do i write the template for such a use case?

[2018-08-22 22:59] tuananh commented on #41
My sincere condolences to you and your family. May your father rest in
peace.
On Wed, Aug 22, 2018 at 9:25 PM Ian Bale <notifications@github.com> wrote:

[2018-08-22 23:33] tuananh opened #45 "Look into possibility use of wasm"
may get some performance hit but good for those who doesn't want to deal with prebuilt binaries.

[2018-08-22 23:34] tuananh commented on #44
can you post for full input and expected output? your code also maybe.

[2018-08-29 00:59] tuananh commented on #44
@gimyboya you can do sth like this?

[code]

output

[code]

[2018-09-05 02:49] gimyboya commented on #44
what i want is something like this:

if xml is:
[code]

Then output should be:
[code]

else if the xml is like this:

[code]
then the output would be:

[code]
So i am stuck on how to write a template for that

[2018-09-10 20:50] Rickgg opened #46 "Translate or match?"
Are the translate or match functions available?

[2018-09-11 01:58] tuananh commented on #46
@Rickgg

`translate` is there. can you post a link to xpath function `match`?

[code]

[2018-09-11 04:28] Rickgg commented on #46
Yeah I thought so... I'll use translate, thank you!

[2018-09-11 04:28] #46 closed

[2018-09-11 11:35] tuananh commented on #44
@gimyboya

you can use this workaround

[code]

output:

[code]

Downside is you will have to filter out empty string.

[2018-10-26 02:12] tuananh opened #48 "node 11 not yet available on appveyor"
Just gonna leave it fail for now until they add it.

[2018-10-26 04:03] #48 closed

[2018-12-20 10:59] orhanveli opened #53 "npm ERR! extraneous: for camaro packages"
Hi everyone

I noticed **npm ERR! extraneous:** errors when execute `npm list` command in my project. Output;

[code]

is there anything we should concern?

[2018-12-24 03:39] tuananh commented on #53
@orhanveli it's safe to ignore this. If you insist on cleaning up unnecessary packages, you can do `npm prune`

[2019-02-03 20:57] orhanveli opened #55 "ARM support"
Hello
Do you have any plan to suppoert ARM CPU support?

I have an ARM chipset box and running Armbian Ubuntu on it but I can't run my camaro dependent project on it.

Here is the ``docker-compose build`` logs

[code]

[2019-02-10 00:09] tuananh commented on #55
@orhanveli i'll look into it. right now, the prebuilt binary are built via appveyor and travis. I'm not sure if they support arm or not.

[2019-02-11 09:11] tuananh commented on #55
i added arm build on appveyor (win). will look into arm on linux later this week.https://github.com/tuananh/camaro/releases/tag/3.0.15

[2019-02-22 12:38] measaperson opened #58 "npm installation failed"
When I try to install your module using `npm install camaro` I get this error

node-pre-gyp WARN Using needle for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://github.com/tuananh/camaro/releases/download/3.0.15/camaro-v3.0.15-node-v57-win32-x64.tar.gz
node-pre-gyp WARN Pre-built binaries not found for camaro@3.0.15 and node@8.11.1 (node-v57 ABI, unknown) (falling ba

[2019-02-25 10:57] tuananh commented on #58
@measaperson can you try 3.0.14 build. I will take a look at why prebuild binary for 3.0.15 wasn't published

[2019-03-01 16:32] tillsimo commented on #58
Hi, got the same error. But worked with the 3.0.14 version.
TS

[2019-03-02 01:39] tuananh commented on #58
Noted. I did some changes recently and somehow it messed up , results in binary not publised

[2019-03-12 17:55] ahavriluk commented on #58
3.0.14 didn't work for me. We can't download anything to a build box.

[2019-03-12 19:20] ahavriluk commented on #58
Is it possible to install Camaro without downloading anything from internet?

[2019-03-13 01:49] tuananh commented on #58
@ahavriluk yes it is possible. but you will have to setup what's required by node-gyp because camaro is using node-gyp to build from source

https://github.com/nodejs/node-gyp

[2019-03-14 07:47] tbrannam commented on #18
Are there any requirements to deploy `node-pre-gyp` similarly?
Should one expect this to work with Webpack?

[code]

[2019-03-14 07:49] tuananh commented on #18
@tbrannam camaro is a native module atm and it will not work for the web. at least, until I can have time to figure out how to compile it to webassembly.

[2019-03-14 11:05] tbrannam commented on #18
I didn't give enough context in my question.  I was using webpack to just generate a single JS file and deploying to lambda.

[2019-03-15 01:55] tuananh commented on #18
@tbrannam you're just using camaro to generate the js file and will only deploy that js file to lambda ? in that case, it should be fine for this purpose.

[2019-03-16 20:07] orhanveli commented on #55
great news I'm looking fw :)

[2019-03-29 03:30] #44 closed

[2019-03-29 10:20] aambega2 commented on #58
@tuananh can you please provide some steps to install Camero using node-gyp. thanks!

[2019-03-29 10:23] tuananh commented on #58
@aambega2 I suppose you mean you want to install from source using node-gyp?

you can see the requirement for each platform here

https://github.com/nodejs/node-gyp#installation

[2019-04-10 16:57] rumblesnort opened #60 "x86_64 binaries are compiled for a specific arch?"
Hello,

When our developers are trying to install camaro via NPM the binaries being downloaded give an "Illegal Instruction" on Westmere generation chips.

Are you compiling with a specific -march flag?  Considering there are many generations of Xeons in production everywhere is it possible to get a less processor-specific build included in npm to make it easier to install?

I get the need to twea

[2019-04-12 09:46] tuananh commented on #60
@rumblesnort you can always do `npm install --from-source --update-binary` to force it to compile from source? Does it work for you?

[2019-04-12 14:35] rumblesnort commented on #60
Hey Tuananh,

Thank you for responding.  That does work, yes, but:

-  requires us to install build tools on production systems (in this case, Alpine/Docker) that don’t support the instruction your compiler is using for the binary
-  complicates the docker build file
-  most Node developers aren’t C developers; likely aren’t familiar with building and would have a hard time troubleshooting

Not as

[2019-04-16 02:29] tuananh commented on #60
I'm not sure which flag is causing problem for you. you can see all the flags i have here

https://github.com/tuananh/camaro/blob/develop/binding.gyp

[2019-04-16 14:10] rumblesnort commented on #60
Hey Tuan, it would be this:

-march=native

From the GCC docs:  "This selects the CPU to generate code for at compilation time by determining the processor type of the compiling machine. Using -march=native enables all instruction subsets supported by the local machine (hence the result might not run on different machines). Using -mtune=native produces code optimized for the local machine under th

[2019-04-17 02:07] #60 closed

[2019-04-17 02:16] tuananh commented on #60
@rumblesnort i did another release. can you see if it fixes the issue for you.

[2019-04-17 03:18] rumblesnort commented on #60
Will do.  Do you need access to an arm server or want arm builds?

[2019-04-17 15:13] rumblesnort commented on #60
Tuan - it worked great, thank you!

richf-alpine:~/eek$ npm install camaro

node-pre-gyp WARN Using needle for node-pre-gyp https download
[camaro] Success: "/home/richf/eek/node_modules/camaro/lib/binding/camaro.node" is installed via remote
npm WARN saveError ENOENT: no such file or directory, open '/home/richf/eek/package.json'
npm notice created a lockfile as package-lock.json. You should comm

[2019-04-28 18:28] axelpale commented on #45
+1. Compatibility over efficiency!

[2019-04-28 18:44] axelpale opened #63 "Travis CI Error: CXXABI_1.3.8 not found"
I am trying to run a test suite using Travis CI. The build fails because Camaro build throws the following error:

[code]

I have tried both Camaro v3.0.14 and v3.0.16 with the same result.

My `travis.yml` is rather minimal and basic, see below. The [default OS of Travis build](https://docs.travis-ci.com/user/reference/overview/) is `Ubuntu Trusty 14.04`.

[code]

Any tips? I will try to post a s

[2019-05-03 06:11] #63 closed

[2019-05-16 11:09] tuananh commented on #45
update: got it working in browser now. I'm gonna finishing up the example, benchmark and do an alpha release

![image](https://user-images.githubusercontent.com/627278/57849550-bf3b1280-7805-11e9-8c9f-1db679a7f2d6.png)

[2019-05-24 10:46] tuananh commented on #55
@orhanveli you can also try `npm i camaro@next` to try the wasm. since it's wasm, it will work on all platform.

[2019-05-25 04:45] tuananh commented on #58
Closing with https://github.com/tuananh/camaro/pull/64

[2019-05-25 04:45] #58 closed

[2019-05-25 04:45] tuananh commented on #55
Closing with https://github.com/tuananh/camaro/pull/64

[2019-05-25 04:45] #55 closed

[2019-05-25 04:46] tuananh commented on #45
Closing with https://github.com/tuananh/camaro/pull/64

[2019-05-25 04:46] #45 closed

[2019-05-25 04:46] tuananh commented on #43
Closing with https://github.com/tuananh/camaro/pull/64

[2019-05-25 04:46] #43 closed

[2019-05-25 04:46] tuananh commented on #41
Closing with https://github.com/tuananh/camaro/pull/64

[2019-05-25 04:46] #41 closed

[2019-06-12 11:23] arkanos opened #69 "Is it possible to keep the order of the keys in the template?"
Hi,
First of all, thank you so much for this great package.

I have been using it for a while and I have found that all the result JSON structures are returned with the keys ordered alphabetically, ignoring completely the order specified in the template.

Is there a way to control this?

Thanks!

[2019-06-12 13:47] tuananh commented on #69
Because of this, I don't think it's possible. But lemme look into it more.

[2019-06-12 14:03] tuananh commented on #69
also because of the c++ lib camaro uses to parse the template

https://github.com/nlohmann/json#order-of-object-keys

[2019-06-13 03:05] tuananh commented on #69
@arkanos can you try using the `next` release?

`npm i camaro@next` (4.0.4-apha.0)

[2019-06-13 09:02] arkanos commented on #69
@tuananh wow did not expect an answer that fast!

Thank you sir! Gonna test it out and put some results over here.

[2019-06-13 15:58] arkanos commented on #69
Hi @tuananh!

I have been testing during the last 3 hours with 37 different XML files and so far so good! It works like a charm!

Here is an example:

[code]
Result:
[code]

[2019-06-13 23:42] #69 closed

[2019-06-14 01:32] tuananh commented on #69
Released in v4.0.4

[2019-06-20 03:46] devsdevsdevs opened #73 "Transforming into array without object inside"
I want to transform an area of an XML document formatted like this:
`<people>
<item>Joseph</item>
<item>Frederick</item>
<item>Kennedy</item>
</people> `
into JSON like so:
`...
people: ["Joseph", "Frederick", "Kennedy"],
...
`
But the only samples I have found only format the template string so it produces an array with an object inside. Is there any way to get a flat array such as the one above?

[2019-06-20 09:00] tuananh commented on #73
[code]

output

[code]

[2019-06-20 09:37] tuananh commented on #73
Feel free to re-open if that is not what you're looking for

[2019-06-20 09:37] #73 closed

[2019-07-29 13:54] warlord0 opened #76 "Array in an Array"
**Describe the bug**
I'm trying to template a file that could have an array of tags inside and array of tags. When I try parsing it the return is returned as [Array]

**Minimal Script To Reproduce**
This is the XML I'm using. It may have more than one `ContactPostals` each with `AddressLine`'s within.

[code]

This is the template I'm using:

[code]

Which yields
[code]
**Expected Results**

[code

[2019-07-29 14:12] warlord0 commented on #76
**Further info:**

If I don't use an array at the `ContactPostals` level I get the desired result.

[code]
Rresult.

[code]

[2019-07-29 15:08] jverce opened #77 "Provide sync API"
Since it's a straightforward change (as far as I can tell), I'd like to work on providing an alternative synchronous API for this lib.

This would mean keeping the async API as-is:
- `transform`
- `toJson`
- `prettyPrint`

The new API would provide the new sync functions:
- `transformSync`
- `toJsonSync`
- `prettyPrintSync`

My proposal will most probably involve refactoring the async calls so tha

[2019-07-30 07:47] tuananh commented on #76
i use this snippet and it seems to work for me

[code]

output
[code]

[2019-07-30 07:49] tuananh commented on #77
I've been meaning to do that but the priority shifted. my current work has no need for xml transformation anymore.

If you want to work on that, you're more than welcome :)

[2019-07-30 07:49] tuananh commented on #77
also: `toJson` is not yet implemented :D, i shouldn't have put it there since it's not done

[2019-07-30 07:51] tuananh commented on #76
probably just the way you print out the result maybe? try `JSON.stringify(output, null, 4)` to see if you get what you need.

[2019-07-30 12:05] aaronjfox opened #78 "If path is empty, return a specified value."
Is there a straight forward way of returning a specified value if a path defined in the template is empty? I am using the package in an AWS Lambda function to parse XML docs to JSON, then upload that into DynamoDB. The issue I am having with camaro returning blank if a path is empty is DynamoDB doesn't allow an attribute value to contain an empty string. Currently I am looping through the object r

[2019-07-30 18:05] tuananh commented on #78
you mean if the value is blank, return a default value?

[2019-07-30 18:41] aaronjfox commented on #78
Yes. Either a default value for any empty element, or explicitly defining a default value for each element in the template if it does not return a value after parsing. Essentially:

xml =
<someParent>
  <someChild>Hello World</someChild>
  <anotherChild>Hello Again</anotherChild>
</someParent>

template = {
parent: ['//someParent', {
  sChild: 'someChild',
  aChild: 'anotherChild',
  rChild: 'rand

[2019-07-31 00:52] tuananh commented on #78
there is a work around this using if else condition but it's very ugly

sth like this

[code]

[2019-07-31 00:55] tuananh commented on #78
the `if a path is empty, return blank` is just that if you use a empty string in template, the output will be blank. that's it.

[2019-07-31 11:39] aaronjfox commented on #78
That makes sense. I'll be able to put that workaround to use. Thanks for the help.

[2019-07-31 11:39] #78 closed

[2019-08-01 01:59] tuananh commented on #21
camaro should work in browser now.

[2019-08-20 04:22] tuananh opened #79 "implement toJson()"

[2019-08-28 04:31] #76 closed

[2019-09-09 14:17] AviramCloudbeat opened #80 "transform function return undefined (5318992)"
Hello,
I'm trying to use camaro in my project and I encounter a problem that I'm not sure where it is coming from.
this is my code:
[code]
the result is that transform return undefined error (with number 5318992)
and I can't figure out why because there is no err.message or err.stack - both return undefined as well.

- camaro version: 4.0.7
- Node version: 8.14.0
- Operating system: WIN10

[2019-09-09 15:18] tuananh commented on #80
can you provide the xml input that cause the error?

[2019-09-09 17:44] AviramCloudbeat commented on #80
Ok, so the issue was this:
In my original 'sampleTemplet' there are a few fields some of them are getting their values from functions, one of them returned 'undefined' and so 'transform()' just sent the message to the console.
It was hard for me to detect since the error message was the most generic as it could be.

[2019-09-09 17:44] #80 closed

[2019-09-10 00:36] tuananh commented on #80
@AviramCloudbeat if you could send the xml and template, maybe i can debug it and have better error handling implemented

[2019-09-10 08:29] tuananh commented on #80
@AviramCloudbeat second is not a valid xpath expression.

if you want to concat, you can do this

[code]

[2019-09-10 08:33] AviramCloudbeat commented on #80
Yes, I understand it now :(
My problem was to locate where the bug is.

[2019-09-10 08:35] tuananh commented on #80
true. i can def. do a better error reporting here.

[2019-09-10 09:04] tuananh opened #81 "Better error handling"
Related: #80

[2019-09-11 12:05] buianhthang opened #82 "Get all text nodes (PCDATA)"
**Describe the issue**
I have a long XML with a lot of children and I need all text nodes, not just a first.

**Minimal Script To Reproduce**

[code]

**Expected behavior**
I want below as response
[code]

**Purpose**
We can consider to use some template below
- `/root/pcdata()` - probably, it's new indicator
- `/root/nodes()`

Reference: https://stackoverflow.com/questions/21794767/pugixml-get-al

[2019-09-17 03:55] #82 closed

[2019-10-09 13:03] JakeRG opened #85 "ENOENT error on run since 4.1.1"
**Describe the bug**
After updating to camaro 4.1.1, program does not run and instead crashes with an ENOENT error. Deleting node_modules and package-lock.json does not help, but downgrade to 4.1.0 and running npm install again resolves the issue.

**Error:**
[code]

- camaro version: 4.1.1
- Node version: 10.15.3
- Operating system: Windows 10

[2019-10-09 13:17] JakeRG commented on #85
Very sorry about that, misclicked. But now that I'm here anyway; thanks for writing camaro, I love it!

[2019-10-09 13:45] tuananh commented on #85
@JakeRG yeah my bad. i forgot to whitelist the .wasm file. will publish a fix soon.

[2019-10-09 15:02] tuananh commented on #85
Should be fixed now in 4.1.2.

[2019-10-09 15:02] #85 closed

[2019-10-11 16:41] sudheeshde opened #86 "To read xml from url (GET request)"
Hi, is it possible to consume xml from a url using camaro ?

Thanks for making this awesome library available.

[2019-10-17 23:54] tuananh commented on #86
You can use any lib to make the request and then pass the xml string over to camaro. That works.

[2019-10-19 03:32] sudheeshde commented on #86
Ok noted. I'm doing it like that way. Creating a xml file and reading from it.

[2019-10-21 06:24] #86 closed

[2019-12-23 16:02] dice14u opened #88 "Publish 3.0.18 to npm and build 3.0.17 win32x64"
**Describe the bug**
Due to the performance decrease in going to webasm I wish to stay at v3 of the package, there are some issues though with the builds of 3.0.17 and 3.0.18,
first is that 3.0.18 has not been sent to the npmjs.org registry (having instead 3.0.17)
second is that 3.0.17 does download and install correctly on win32-x64 devices

node-pre-gyp WARN Tried to download(404): https://githu

[2019-12-24 04:35] tuananh commented on #88
@dice14u i dont have a windows machine to test right now but can you try `npm install camaro@3.0.19`?

[2020-01-01 15:08] #88 closed

[2020-01-07 11:51] betafcc opened #90 "Add better typing to `transform`"
It is possible to statically type the parsed type based on the template argument, I was meaning to do a PR but have no idea how to test it, plus, the definition of 'Template' is possibly incomplete, since I couldn't find doc on it.

I'm using these helpers:
[code]

With those, the example in README can be refactored to:
[code]

And TS can infer the parsed type:
[code]

Thanks for this awesome proj

[2020-01-08 09:06] tuananh commented on #90
Thanks. I don't have much experience with TS. Lemme research on this a bit.

[2020-01-08 10:04] betafcc commented on #90
Nice! If it's useful then, here are some aditional info about those types:

With those, you can type transform as-is just by changing

[code]

to
[code]

My wrapper is called 'parse' and have inverted arguments just for personal preference.

The 'template' function does have a more important purpuse: you could use the typed `transform` without it:
[code]
And this will be well typed, but if you fac

[2020-01-09 13:40] betafcc opened #92 "`transform` in parallel does not work and messes with process"
**Describe the bug**

If you call `transform` before it's previous invocation has returned, it seems to drop the previous promise somehow

eg:
[code]
output
[code]

Even weirder, if you force `Promise.all([doit(), doit()])` it seems to mess up with the whole process!

[code]
This scripts waits 3 seconds to exit but only outputs 'done sleeping'

- camaro version: 4.0.8, 4.1.2
- Node version: v8.16.

[2020-01-10 04:46] tuananh commented on #92
Thanks. Let me take a look at it.

[2020-01-14 01:30] tuananh commented on #92
please expect this to take sometimes as i'm having a new newborn baby atm.

or you can try using v3 in the mean time.

i suspect that happens because the way i cache the instance but i'm not sure.

[2020-01-24 08:47] eeveefox commented on #78
Hello.
how i can do someone like that, but with attribute.
`<start_ute_command>
                    <ute_command call="TEST.xml#TEST_PREV_COMMAND" />
                </start_ute_command>`

if i use it with
`start: ['insert/dbCommand/start_ute_command/ute_command/@call', textOrDefault('false')],`
i alwayse have 'false'

[2020-01-24 08:50] tuananh commented on #78
@eeveefox it seems right. can you post the whole xml and your code snippet so that i can try

[2020-01-24 08:54] eeveefox commented on #78
[code]

and

[code]

[2020-01-24 09:02] tuananh commented on #78
@eeveefox ah because the textOrdefautl value only give you output of `text()` xpath function

you can try this

[code]

output

[code]

[2020-01-24 09:25] eeveefox commented on #78
Thank you, I didn't figure it out myself. It's the right thing to do.

[2020-01-27 11:02] betafcc commented on #92
Wow, congrats man :3

I've been using this workaround since then:
[code]
Just locking the function to only run after the previous invocation has resolved

[2020-02-19 09:47] mustafaabduljalil opened #93 "How can i access attributes values in xml tag ??"
- How can i access attributes values in xml tag ??
[code]
How can u get JPDCode ??

[2020-02-19 16:23] tuananh commented on #93
sth like this

[code]

[2020-02-19 16:33] #93 closed

[2020-02-19 18:30] mustafaabduljalil commented on #93
@tuananh thank u so much man <3

[2020-03-17 15:15] darrylmorley opened #95 "Cleanup JSON result"
Hi,
How can I clean up the resulting white space and \n characters please?
[code]

I am using the follwing in my code:
[code]

[2020-03-17 17:47] tuananh commented on #95
@darrylmorley can you post the xml file?

[2020-03-17 22:23] darrylmorley commented on #95
Hi @tuananh,

Here is a sample:
[code]

[2020-03-18 06:07] tuananh commented on #95
@darrylmorley you can use xpath function `normalize-space()`

[code]

output

[code]

[2020-03-18 07:44] darrylmorley commented on #95
Thanks @tuananh, I appreciate the advice. I'm sure I've used camaro on this layout before without this option applied and it has worked perfectly. Something may have changed.

[2020-03-18 07:44] #95 closed

[2020-03-18 07:45] tuananh commented on #95
I don't recall changing anything like that :-/

[2020-03-18 07:55] darrylmorley commented on #95
Maybe node version change..? It's just odd. Anyway, I'm getting the desired result now. So, thanks again.

[2020-03-24 15:04] dice14u commented on #88
As a follow up on this 3.0.19 worked, it compiled well.  I tried using 4.x briefly as well but it seemed there was a greater error rate with "socket hung up" from the results of camaro.transform, so went for the version that stayed a little more stable.

[2020-04-17 10:30] vsaran93 opened #96 "Node throw error"
having error in below line (node_modules\camaro\dist\camaro.js:9) in windows 10 (64bit)

if(aa){v=__dirname+"/";var da,ea;w=function(a,b){da||(da=require("fs"));ea||(ea=require("path"));a=ea.normalize(a);a=da.readFileSync(a);return b?a:a.toString()};x=function(a){a=w(a,!0);a.buffer||(a=new Uint8Array(a));a.buffer||z("Assertion failed: undefined");return a};1<process.argv.length&&process.argv[1].re

[2020-04-17 15:12] tuananh commented on #96
can you post the code that gives you that error?

[2020-04-20 18:50] kierangraham commented on #96
Interestingly I ran into this error on a recent project and the reason was passing an _array_ object as the XML template rather than an object. I was creating a test to parse a list of items and ran into this.

The test would have looked something like this (which resulted in the error):
[code]

Changing the template code to something like this resulted in a successful parsing:

[code]

---

Maybe

[2020-04-20 19:00] tuananh commented on #96
@kierangraham thanks. The template is array kind of make sense and camaro should support this.

[2020-04-21 02:12] tuananh commented on #96
@kierangraham it should work for your use case now.

[2020-04-21 13:26] kierangraham commented on #96
@tuananh Great work, thanks for the effort on this!

[2020-04-23 17:12] tuananh commented on #96
@vsaran93 feel free to re-open if the issue still persists

[2020-04-23 17:12] #96 closed

[2020-04-24 14:22] #92 closed

[2020-04-24 22:43] harpal-hp opened #100 "Module not found: Can't resolve xxxx"
**Describe the bug**
using serverless framework and trying to transform the xml using template. getting error Module not found for asm2wasm, env, global, along with below error -
WebAssembly module is included in initial chunk.
This is not allowed, because WebAssembly download and compilation must happen asynchronous.
Add an async splitpoint (i. e. import()) somewhere between your entrypoint and t

[2020-04-25 01:12] harpal-hp commented on #100
Issue is with only server-less framework node JS lambda project, working fine with plain node JS project

[2020-04-25 02:16] tuananh commented on #100
Can you create a minimal repro repo so that I can clone and check the error? Also, what command to use to reproduce it.

[2020-04-25 02:18] tuananh commented on #100
It seems to be problem with `serverless` framework where it tries to parse wasm file. The way I can see is either config `serverless` to not to do that. Or I can fix it at camaro project where I remove wasm file and place its content directly in js file.

Just my hypothesis.

[2020-04-25 02:46] tuananh commented on #100
@harpal-hp this looks similar with this issue. update the webpack config to ignore wasm.

https://github.com/serverless-heaven/serverless-webpack/issues/386

[2020-04-25 02:57] harpal-hp commented on #100
Ok, i will try to do that. i have created the repo if you want to replicate the issue -

https://github.com/harpal-sgh/serverless-camaro

Run : npm i then sls offline, you might have to install serverless if not installed already

[2020-04-25 17:22] harpal-hp commented on #100
I tried ignoring .wasm file, but i am losing serverless-bundle capabilities. i have to bundle it using web-pack.
If you can do something in Camaro project, it will be great help for everyone, who want to use Camaro library with server-less framework.

Thanks

[2020-04-26 02:17] tuananh commented on #100
it's possible. lemme take a look into it.

[2020-04-29 07:25] leon opened #102 "Is the method "ready" not required any more?"
the "ready" function is no longer exported in version 5.0.0
does that mean that we don't need to call it, or that you missed exporting it?

[2020-04-29 07:27] leon commented on #102
I tried it without `ready` and it's telling me

"camaro is not yet initialized. You need to call `ready()` first."

So I think you need to export the function :)

[2020-04-29 08:57] tuananh commented on #102
@leon the method `ready` is new in v5. it is exported https://github.com/tuananh/camaro/blob/develop/index.js#L79

[2020-04-29 12:30] GoncaloHit opened #103 "Add ready to typing file"
I upgraded to 5.0.0, since now it needs `ready()`, but it does not appear to be in types.d.ts.

[2020-04-29 14:42] tuananh commented on #103
@GoncaloHit ah right. Would you like to make a PR to add it?

[2020-05-02 04:32] harpal-hp commented on #100
@tuananh do you know how long it will take to fix this?

[2020-05-02 12:23] tuananh commented on #100
@harpal-hp i'm working on it. thought it would be straight forward but somehow, it still doesn't work yet :D. maybe another week or two, depends on how i can manage my time.

[2020-05-04 06:41] tuananh commented on #103
Closed in #104

[2020-05-04 06:41] #103 closed

[2020-05-04 06:41] tuananh commented on #102
Closed in #104

[2020-05-04 06:41] #102 closed

[2020-05-21 14:42] jonsherrard opened #107 "Module worker.js not found when using Typescript"
Hi There!

This project looks so great! I love the template idea and haven't seen anything as user friendly. Bravo.

I'm not sure if Camaro is supposed to work with Typescript, it _feels_ like it should, but perhaps, there's an issue with .wasm?

I'm getting the following error about worker.js not being found when I try and run a simple test with Jest.

I'm going to keep playing around and see if

[2020-05-21 14:56] tuananh commented on #107
@jonsherrard sorry, it's an error when i prepare for the new release today. i forgot to add `worker.js` file to `files` section of `package.json`. i have just published the 6.0.1 to fix this.

also, version 6 requires node >= 12. in node 11, `worker_threads` module is still experimental.

[2020-05-21 15:25] jonsherrard commented on #107
Thanks @tuananh! That's brilliant. All working for me :)

No need to apologise! And thank you for sorting it so quickly!

J

[2020-05-21 15:25] #107 closed

[2020-05-28 02:03] tuananh commented on #100
Recently, I chose to use `worker_threads` for performance gain so web support is dropped.

i'm looking for way to re-add it in the future but I don't know how yet. So this won't be fixed anytime soon.

[2020-05-28 02:03] #100 closed

[2020-06-03 10:45] jonsherrard commented on #100
For googlers:

Just a not that `worker_threads` means this won't work on platforms that _don't support_ Node 12. For example Google Cloud Functions.

(Check `node -v` locally if you're having working errors)

[2020-06-03 10:48] jonsherrard opened #108 "Suggestion: Add `engines` field to package.json"
**Describe the bug**
Camaro requires Node >= 12 to run, installs quietly into <12 projects and creates phantom bugs.

by adding:

[code]

A compatible node version will be verified at install time, triggering a failure if necessary.

[2020-06-03 13:31] jonsherrard opened #109 "Question: Template extraction"
Hi There!

Thanks again for Camaro. It's so lovely, but unfortunately I have to work in a Node 10 environment.

I wonder if in your travels you've come across any libraries that use a similar XPath template API. that Camaro uses, or is it uniquely your design?

Thank you for being so generous with your time!

[2020-06-04 00:33] tuananh commented on #109
Hi,

`worker_threads` in Node 10 is experimental behind a flag `--experimental-worker`. You can try to see if it works for you by running `node --experimental-worker index.js`

I'm aware of another project that does the transformation in a pretty unique way: cruftless. I do mention about it here https://github.com/tuananh/camaro#similar-projects

However, their template is not xpath base.

[2020-06-04 01:46] tuananh commented on #108
Fixed in b5a8e12f3a8771beca7b84103a31a9c9075e5060

[2020-06-04 01:46] #108 closed

[2020-06-09 12:56] samuil4 commented on #79
Hi, I tried to test the toJson
[code]

and got compile error
[code]

[2020-06-09 12:58] tuananh commented on #79
@samuil4 oh yeah. Its not yet implemented. Also camaro requires node version >=12

[2020-06-09 16:27] samuil4 commented on #79
@tuananh thanks for the info.

[2020-06-11 02:34] tuananh commented on #79
I wrote another library for SAX parsing at https://github.com/tuananh/sax-parser so I probably won't fix this

[2020-06-11 02:34] #79 closed

[2020-06-11 02:35] #109 closed

[2020-06-12 22:57] kierangraham opened #110 "Undefined or missing elements parse as empty strings"
When parsing some XML which has optional elements, the values get returned as an empty string.

Included are the example output that is received and the desired output, plus the code used to generate.

It would be greatly appreciated for some pointers on how to produce the desired output and in any case thanks for the work on the library.

**Example Output**

[code]

**Desired Output**

[code]

**

[2020-06-13 13:24] tuananh commented on #110
this is expected behavior because xpath is returning empty string for that path. however, I can see `null` is a better value for cases like this.

lemme take a look into that.

in the mean time, there's a workaround for this with the example here

https://github.com/tuananh/camaro/blob/develop/examples/default-value.md

[2020-06-13 14:49] kierangraham commented on #110
Thanks for the reply @tuananh. I’ve seen that example before and wasn’t sure how it would be possible to have it return an actual `null` value vs a `”null”` string value.

[2020-06-15 09:36] tuananh commented on #110
my bad, it isn't really a fix for that.

[2020-06-15 09:38] tuananh commented on #110
I need to think on this some more.

What do you think to handle case like calling xpath function? like `upper-case(optional)`? What should be returned in this case?

[2020-06-15 09:42] kierangraham commented on #110
Hmm I'm not sure, I've thought about this a little also as I was browsing the code, trying to understand how it'd be possible.

What if there was a _special_ XPath function? Something like `nullable()`? If that's possible then maybe we could do something like `nullable(upper-case(optional))` and get a `null` value back if the result is `""`.

I'm not sure how possible it is to do that, and does ki

[2020-06-15 11:49] ironcladmerc opened #111 "Warning: (node:23080) ExperimentalWarning: The ESM module loader is experimental."
Camaro started giving this warning recently, it still works, though.

Running on node.js 12.18.0 and camaro is v6.0.2.

Is this something a new version of node introduced or a new version of camaro?

(node:23080) ExperimentalWarning: The ESM module loader is experimental.
(node:23080) ExperimentalWarning: The ESM module loader is experimental.
(node:23080) ExperimentalWarning: The ESM module loade

[2020-06-16 02:23] tuananh commented on #110
I may lean into introducing a parse option , sth like below

[code]

but nothing concrete yet

[2020-06-16 02:34] tuananh commented on #111
it's probably due to sth `piscina`, a dependency camaro is using. each time it's log due to a worker thread is spawn, same as no. of cpu core i assume (the default setting)

[2020-06-17 23:58] #111 closed

[2020-06-18 12:36] darrylmorley opened #112 "No result from transform [Help]"
I had an issue with my template, but had information missing and now resolved. My apologies, thanks.

[2020-06-18 13:27] #112 closed

[2020-06-18 13:44] kierangraham opened #113 "Memory allocation error"
When running Camaro using `jest --watch`, eventually a memory allocation error occurs after it runs for a few minutes.

Here's the example output:

[code]

---

* Camaro version: "6.0.2"

[2020-06-19 01:14] tuananh commented on #113
@kierangraham do you have a minimal reproducible code that I can try?

[2020-06-19 19:50] kierangraham commented on #113
I'll try to find a minimum sample that triggers this and post it; until then here is some further info on the error:

[code]

[2020-06-19 23:45] addaleax commented on #113
@tuananh I’ll try to take a look. The “3 open handles” warning doesn’t seem to be helpful here, though – none of these handles should be refed, i.e. none of them should keep the process running by itself.

[2020-06-19 23:52] addaleax commented on #113
Hm yeah, there’s nothing here that sticks out to me. A reproduction would definitely be helpful. Knowing the Node.js version may or may not also be relevant?

[2020-06-22 13:10] kierangraham commented on #113
@tuananh I've managed to put together a sample project where you can reproduce the error. You can find the repo here: https://github.com/kierangraham/camaro-memory-error

Let me know if there's anything I can try to help out with!

[2020-06-22 20:07] addaleax commented on #113
@kierangraham Thanks for the reproduction!

I think the problem here is that the `camaro` module is re-loaded multiple times for a single process, which each create a new worker pool. This is not really a problem outside of testing, because in “the real world”, processes don’t generally re-load modules.

I’m not sure what the best way forward here is, tbh. /cc @jasnell

[2020-06-22 22:46] marehem opened #114 "Question: custom template"
Please, I need to perform some logic while transforming from XML. for example, I need to map XML value if 0 to some text value in output JSON like 'ZERO' and if 1 output "ONE' in JSON.

if please you can provide an example of how to call a function within the template block to run such logic while doing the tranformation.

[2020-06-23 09:17] tuananh commented on #114
@marehem right now it's not possible to define custom logic. it's limited to xpath functions only.

[2020-06-23 12:55] marehem commented on #114
thanks

[2020-06-23 12:55] #114 closed

[2020-06-24 04:42] tuananh commented on #113
@kierangraham i'm closing this as I honestly don't know what to do here either.

[2020-06-24 04:42] #113 closed

[2020-06-24 04:47] jasnell commented on #113
Hey @tuananh ... My schedule is pretty crazy this week but I've got this issue open and a todo to take a look at it next week to see if something can be figured out. I'll need to take some time to go through your specific set up in detail.

[2020-06-28 13:15] alsatianio opened #115 "Dependencies not found (6.0.2)"
Not sure what's happening here, or if it's just my Node, but every time I try to run my build after installing Camaro, I get the following:

[code]

[2020-06-28 13:34] tuananh commented on #115
@alsatianio what node version you're using?

[2020-06-28 13:36] alsatianio commented on #115
@tuananh 14.4.0, but I've tried 8, 10, and 12 as well.

[2020-06-28 13:47] tuananh commented on #115
@alsatianio it's weird. all those libs are builtin library of node.

[2020-06-28 13:48] alsatianio commented on #115
@tuananh For some reason it only happens with Camaro. No other packages are throwing the error, or have ever thrown that error.

[2020-06-28 14:39] alsatianio commented on #115
@tuananh Seems like it's got something to do with Nuxt.js, investigating further.

[2020-06-28 15:03] tuananh commented on #115
@alsatianio ah, camaro is currently not usable for web. it's sth to do with the breaking changes i did in v6.

you can use v4 or v5 if it's intended for the web.

[2020-06-28 15:07] alsatianio commented on #115
Thanks @tuananh !

[2020-06-28 15:07] #115 closed

[2020-06-29 00:33] alsatianio commented on #85
@tuananh I've moved camaro away from web and into Node, and I'm getting the same as the above error right now. See below:

[code]

[2020-07-01 18:03] kierangraham commented on #110
@tuananh any hints on how you would approach this? I’d be happy to try and contribute a PR if you could give some insights on your ideas to integrate the `parseOptions`.

One thing I wonder about is how to tell if an object should be `null`. I imagine it should be easier to determine if a string should be null or not but an object could be a little more complicated, maybe not.

In any case, any po

[2020-07-01 18:05] kierangraham commented on #113
Does anyone know of any pointers to shut down the worker pool correctly? Even when not in watch mode I see errors that something has prevented Jest from shutting down correctly when using `detectOpenHandles`. Any insights appreciated on how the worker pool could be released!

[2020-07-02 06:30] tuananh commented on #110
@kierangraham that would require you to look into my pugixml source code to check if an xpath node exists or not.

and parsing the parse options of course.

[2020-07-30 04:47] mackongo commented on #41
Hi there! was this sorted? I still get this on 6.0.3

[2020-07-30 04:49] tuananh commented on #41
can you share your setup. OS/node/npm version and a minimal script to reproduce the error.

[2020-07-30 05:04] mackongo commented on #41
6.14.7 npm
v14.5.0 node

Running on Ubuntu 18.04 bionic | on AWS ec2

[2020-07-30 06:18] tuananh commented on #41
can you upload teh code snippet to reproduce this error?

[2020-08-26 07:43] AwesomeNameMan opened #116 "The V8 platform used by this instance of Node does not support creating Workers"
**Describe the bug**
Updated from camaro 5.0.3 to 6 (6.0.3). Using camaro with electron to parse many XML strings.
After the update electron crashes with the following error:

**The V8 platform used by this instance of Node does not support creating Workers**

**Minimal Script To Reproduce**

[code]

**Expected behavior**
Camaro not breaking my electron app.

- camaro version: 6.0.3
- Node version

[2020-08-26 08:26] tuananh commented on #116
Looks like it's similar to this https://github.com/electron/electron/issues/18540 but lemme dig deeper into this. I've never use Electron before.

[2020-08-26 08:37] AwesomeNameMan commented on #116
Thanks for the quick reply, tuananh!

Here some more info about the environment:

* electron version: 9.2.1 (had version 7.x.x before, but same behavior)

I'm distributing the camaro.wasm to the app after build and I've seen you added a worker.js with v6, which seems to break the electron app. As far as I know, electron uses his own node & V8 engine version.

[2020-08-30 01:00] TobiasNickel opened #117 "benchmark"
Hi, I am the developer of [txml](https://github.com/TobiasNickel/tXml) an other xml parser for Javascript. I was about to post an article about how my txml is the fastest xml parser in Javascript, but then I came across this project. wow, this performance benchmark are impressive and have a little bit hurt my feelings ;-)

So I could not resist, I had to look deeper into what is making camaro so f

[2020-08-31 02:24] tuananh commented on #117
@TobiasNickel I just learnt about `txml` the other day and was really impressed. Great library. However, I haven't gotten around update the benchmark yet. Will do it sometimes later this week.

[2020-08-31 02:34] tuananh commented on #117
this is probably because it has to copy the data around hence worse performance?

[2020-08-31 06:22] curbengh opened #118 "Unable to parse input with invalid characters"
**Describe the bug**
Unable to parse input with unprintable characters.

**Minimal Script To Reproduce**

There are two unprintable/invalid characters in between `foo` and `bar`, since I couldn't paste the characters here, refer to [test.js.zip](https://github.com/tuananh/camaro/files/5148594/test.js.zip). If the attachment doesn't include those characters (I might've saved it incorrectly), refer

[2020-08-31 07:25] tuananh commented on #118
@curbengh when i open test.js in sublime, i got this

![image](https://user-images.githubusercontent.com/627278/91693823-cec6a200-eb95-11ea-818e-920aa257fb25.png)

[2020-08-31 07:30] curbengh commented on #118
That's what I suspect would happen as I might've saved with incorrect encoding. Can you try the [original attachment](https://github.com/hexojs/hexo-migrator-wordpress/issues/105#issuecomment-683415042) (which I copied the invalid characters from) and look for L20136 and L25599.

[2020-08-31 07:30] tuananh commented on #118
never mind found those char in the original attachment. lemme take a look

[2020-08-31 09:12] curbengh commented on #118
Thanks for the info, I'll sanitize the input with `const xml = input.replace(/[\x00-\x09|\x0b-\x0c|\x0e-\x1f]/g, '')`.

[2020-08-31 09:12] #118 closed

[2020-08-31 11:22] TobiasNickel commented on #117
yes, the data in each process are new objects and they get serialized into the shared memory buffer. the smaller it is the better.

piscina also calls some sync function to ensure data is not changed while reading. each function call to piscina causes one sync. maybe it even can improve performance by batching some worker calls together. but this would be quite some work to hit a good balance.

Th

[2020-09-09 15:42] kentico-ericd commented on #116
I'm also having an issue that might be related. I'm writing a Zapier CLI application and started getting this error immediately after trying to call `transform()`

[2020-09-10 04:44] tuananh commented on #116
@kentico-ericd what node / camaro version are you using?

[2020-09-10 15:13] kentico-ericd commented on #116
I tried

- camaro 6.0.3
- node 10.22.0

Does it require node >=12? I think it might have been an issue with `zapier-platform-core` actually- if so, sorry for polluting the thread and I'll check with them :)

[2020-09-11 11:20] AwesomeNameMan commented on #116
Workers should be stable with node >= 12.

@tuananh is it maybe possible to make the usage of workers for camaro optional? This could help with different environments and people can't argue about a lack in performance when workers are not in use.

[2020-09-11 13:23] tuananh commented on #116
I might as well do that :)

On Fri, Sep 11, 2020 at 18:21 AwesomeNameMan <notifications@github.com>
wrote:

[2020-09-14 04:55] tuananh opened #119 "Use `piscina` only if `worker_threads` module is available"
Only initialize worker pool if `worker_threads` is available.

Should be able to fix #116

[2020-11-25 01:28] eduardomourar commented on #113
I can confirm that jest worked best with Piscina (and worker threads in general) by using nodejs v14+.

[2020-11-25 05:42] tuananh commented on #113
Glad to hear it’s working for you

On Wed, 25 Nov 2020 at 08:28 Eduardo de Moura Rodrigues <
notifications@github.com> wrote:

[2021-01-31 15:32] #119 closed

[2021-01-31 15:33] tuananh commented on #116
Fixed by #122

[2021-02-09 03:16] tuananh commented on #117
Hi @TobiasNickel

I add the txml worker and fxp worker version to this branch https://github.com/tuananh/camaro/pull/123 (copied from your fork)

On my local machine (node v14.15.4), this is what I'm getting with 100kb test file

[code]

---

with 60kb test file

[code]

----

with 7kb test file

[code]

---

[2021-02-09 06:03] #117 closed

[2021-02-09 08:36] TobiasNickel commented on #117
yes, your results look right. 👍
I think my first entusiastic results where from a specific configuration where [txml](https://npmjs.com/package/txml) did not do all of the work.

[2021-03-23 15:00] AwesomeNameMan commented on #116
Problem still occurs for me with the following versions:

- camaro 6.1.0
- Electron 10.1.3

**The V8 platform used by this instance of Node does not support creating Workers**

[2021-03-24 19:42] fabiospampinato commented on #116
Stil happening v12

[2021-03-25 02:46] tuananh commented on #116
@AwesomeNameMan @fabiospampinato do you have minimal project so that I can try? I'm not very familiar with Electron.

[2021-03-25 10:41] fabiospampinato commented on #116
This should reproduce it:

[code]

And then:

[code]

[2021-03-25 10:42] fabiospampinato commented on #116
Oh sorry I thought we were in electron's repo here 🤦‍♂️ my bad. You can probably reproduce the issue by running this library inside Electron's renderer process.

[2021-04-07 13:13] ianbale opened #124 "Latest version very slow on AWS Lambda (node v14)"
**Describe the bug**
Camaro 6.1.0 is orders of magnitude slower on AWS Lambda than 3.0.7

I have a complex application that makes use of camaro to decode XML we receive from external systems that we use for creating train tickets. We've been using v3.0.7 for the past year and a half (current version when we built the system).

We've been updating various aspects of the system, including upgrading

[2021-04-08 04:45] tuananh commented on #124
There's not much change from 3 to 6 rather than webassembly. so version 3 is fine.

However, I still want to dig deep into this. I will try with aws lambda sometimes later this week if i have time.

[2021-07-07 17:06] ianbale commented on #124
3.0.7 is still working absolutely fine for me. Does everything I need, so more than happy to sticker with it.

The only slight awkwardness is having to have two versions, one to run locally and one to upload to AWS.

So if the performance issue can be addressed dit would be good to upgrade at some point for the deployment convenience.

Thanks again for making this brilliant library available to us

[2021-09-06 12:22] AwesomeNameMan commented on #116
Hi tuananh,

any news here?

[2021-09-06 14:24] tuananh commented on #116
Sorry i didn't have bandwidth for tis project lately. could you rollback to v3 where worker isn't used yet?

[2022-03-21 18:00] rappol opened #127 "Template not working when using namespaces"
**Describe the bug**

I have a xml file that starts with this 3 nodes:

<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">

<env:Body xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsa="http://www.w3.org/2005/08/addressing">

<MSPPesquisaPrestacaoProcessResponse xmlns="http://xmlns.dmm.spms.pt/201701/MSP/MSPPesquisaPrestacao" xmlns:ns1="http://xmlns.dmm.spms.

[2022-03-21 18:08] rappol commented on #127
Found the solution... the template should be used like this:

[code]

[2022-03-21 18:09] #127 closed, assigned to nobody

[2022-04-04 14:19] rappol opened #128 "XML with several deep nodes returns [Object]"
**Describe the bug**
When trying to parse this XML with a several node deeps the transform return the value [Object]

**Minimal Script To Reproduce**

[code]

**Expected behavior**

Output:
[code]
**Screenshots**
<img width="459" alt="Screenshot 2022-04-04 at 15 17 19" src="https://user-images.githubusercontent.com/639941/161563774-77408766-2eaf-4c9e-bc81-2e87ea671d5e.png">

- camaro version 6.1.0

[2022-04-04 14:40] rappol commented on #128
SOLVED! i was querying it wrong.

the solution was

[code]

[2022-04-04 14:40] #128 closed, assigned to nobody

[2022-05-11 05:53] dhammikabo opened #129 "Question - Nested Template"
### I am looking to build a template for the following XML where the nesting can have many levels (i.e. Number of sub folders levels is not known)
[code]
With an expected json of:

[code]

Can someone help me define what the template needs to be like ?

[2022-05-11 17:07] tuananh commented on #129
@dhammikabo it's not supported at the moment for use cases like this

[2022-05-12 03:42] dhammikabo commented on #129
thanks for getting back to me.

[2022-05-12 03:42] #129 closed, assigned to nobody

[2022-08-16 11:56] absir1949 commented on #116
@tuananh  i use camaro 3.0.19 There are still problems.
[code]
- camaro 6.1.0,6.2,5.0
- Electron 11.5
- node 12.18.3

[2022-11-22 19:01] iki commented on #110
@kierangraham  there may be also `NaN`s as a result of Xpath `number()` expressions, you can use `stripNullish` on the result data:

[code]